<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>A Privacy Index for mHealth Apps</title>
  </head>

  <body>

    <div class="apps">

      <div class="app-header">
        <div class="app-cell app-cell-icon">Icon <i class="fa fa-picture-o fa-lg fa-fw"></i></div>
        <div class="app-cell">Name <i class="fa fa-tag fa-lg fa-fw"></i></div>
        <div class="app-cell">Store <i class="fa fa-link fa-lg fa-fw"></i></div>
        <div class="app-cell">Privacy index <i class="fa fa-trophy fa-lg fa-fw"></i></div>
        <div class="app-cell">Personal data collected <i class="fa fa-user fa-lg fa-fw"></i></div>
        <div class="app-cell">Login required <i class="fa fa-sign-in fa-lg fa-fw"></i></div>
        <div class="app-cell">Where is my data beeing sent? <i class="fa fa-wifi fa-lg fa-fw"></i></div>
        <div class="app-cell">Does the app track me? <i class="fa fa-search fa-lg fa-fw"></i></div>
        <div class="app-cell">Benefits entering personal data? <i class="fa fa-star fa-lg fa-fw"></i></div>
        <div class="app-cell">Secure data connection?  <i class="fa fa-lock fa-lg fa-fw"></i></div>
        <div class="app-cell">Permissions the apps wants <i class="fa fa-list fa-lg fa-fw"></i></div>
      </div>

      <div class="app">
        <div class="app-cell app-cell-icon"><img width="50" src="http://a2.mzstatic.com/eu/r30/Purple7/v4/a6/a1/e0/a6a1e0c8-889e-ab1b-8c71-a4969636120a/icon175x175.png" /></div>
        <div class="app-cell">Test</div>
        <div class="app-cell"><a href="#">iTunes AppStore</a></div>
        <div class="app-cell">91%</div>
        <div class="app-cell">Test</div>
        <div class="app-cell"><i class="fa fa-check fa-lg"></i></div>
        <div class="app-cell">Test</div>
        <div class="app-cell"><i class="fa fa-check fa-lg"></i></div>
        <div class="app-cell"><i class="fa fa-check fa-lg"></i></div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
      </div>

      <div class="app">
        <div class="app-cell app-cell-icon">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell"><a href="">Google PlayStore</a></div>
        <div class="app-cell">88%</div>
        <div class="app-cell">Test</div>
        <div class="app-cell"><i class="fa fa-times fa-lg"></i></div>
        <div class="app-cell">Test</div>
        <div class="app-cell"><i class="fa fa-times fa-lg"></i></div>
        <div class="app-cell"><i class="fa fa-times fa-lg"></i></div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
      </div>

    </div>

    <div class="plus-column">
      <span class="fa-stack">
         <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x"></i>
      </span>
    </div>

  </body>
</html>
