<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/main.css">
  </head>

  <body>

    <div class="apps">

      <div class="app-header">
        <div class="app-cell">Icon</div>
        <div class="app-cell">Name</div>
        <div class="app-cell">Store</div>
        <div class="app-cell">Personal data collected</div>
        <div class="app-cell">Login required</div>
        <div class="app-cell">Where is my data beeing sent?</div>
        <div class="app-cell">Does the app track me?</div>
        <div class="app-cell">Do I benefit from entering my personal data?</div>
        <div class="app-cell">Secure data connection?</div>
        <div class="app-cell">Permissions the apps wants</div>
        <div class="app-cell">Privacy index</div>
      </div>

      <div class="app">
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
      </div>

      <div class="app">
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
        <div class="app-cell">Test</div>
      </div>

    </div>

    <div class="plus-column">
      <span class="fa-stack">
         <i class="fa fa-circle-o fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x"></i>
      </span>
    </div>

  </body>
</html>
