@import url("sweetalert2.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body, html {
  height:100%;
  background-color:#D73035;
  color:#ECE9E4;
  font-family: "Open Sans", sans-serif;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
}

.plus-column {
  text-align: center;
  font-size: 3em;
  margin-top:258px;
  float: left;
  cursor: pointer;
  margin-left:30px;
}

.apps {
  clear:both;
  display:table;
}

.app-header {
  font-size: bold;
  float:left;
  margin-left:30px;
}

.app-header .app-cell {
    font-size: bold;
    text-align: right;
    text-transform: uppercase;
    border-bottom:0px;
    color:rgba(236,235,232,0.75);
}

.app {
  width:300px;
  height:100%;
  float:left;
  margin-left:30px;
}

.app-cell {
  width:100%;
  text-align: center;
  height:60px;
  padding-top:30px;
  border-bottom:1px dotted rgba(236,235,232,0.5);
  font-weight: lighter;
}

.app-cell-icon {
    height:80px;
}

a {
  color:white;
}
